.product-create-form {
  width: 50%;
  margin: auto;
}
.product-create-form h3 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 500;
}
.product-create-form label,
.product-create-form input {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-create-form button {
  margin: 15px 0;
  width: 100%;
  background-color: var(--primary-color);
  font-size: 16px;
  color: var(--white-color);
}
