.product-briefing {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.product-briefing-img {
  width: 450px;
}
.product-briefing-cart {
  padding: 0 40px 0 0;
}
.product-briefing-title {
  font-weight: 500;
  font-size: 20px;
}
.product-briefing-action {
  display: flex;
  font-size: 14px;
}
.product-briefing-action__rating {
  color: var(--primary-color);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 15px;
}
.product-briefing-action__rate {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 15px;
}
.product-briefing-action__sold {
  padding-left: 15px;
}

.product-briefing-price {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px;
  background: #fafafa;
}
.product-briefing-price__old {
  font-size: 14px;
  font-weight: 500;
  color: #929292;
  text-decoration: line-through;
}
.product-briefing-price__new {
  margin: 0 15px;
  font-size: 26px;
  font-weight: 500;
  color: var(--primary-color);
}
.product-briefing-price__promotion {
  height: 16px;
  align-items: center;
  display: flex;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 13px;
  color: var(--white-color);
  border-radius: 2px;
}
.product-briefing-transport {
  display: flex;
}
.product-briefing-transport label {
  color: #757575;
  width: 110px;
  font-size: 14px;
}
.product-briefing-transport__information img {
  height: 16px;
  margin: 0 5px -4px 0;
}
.product-briefing-transport__information p {
  margin: -10px 0 0 35px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  font-size: 14px;
}
.product-briefing-transport__information span {
  font-size: 14px;
}
.fas.fa-truck-pickup {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 4px;
}
.product-briefing-transportTo span,
.product-briefing-transportFee span {
  margin-right: 20px;
  color: #636363;
}
.product-briefing-transportTo h3,
.product-briefing-transportFee h3 {
  margin: 0;
  font-size: 13px;
}
.product-briefing-transportTo i,
.product-briefing-transportFee i {
  height: 10px;
  font-size: 14px;
  margin-left: 4px;
}
