<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="product-briefing">
                <div class="col l-5">
                    <div>
                        <img class="product-briefing-img" src="{{product.image}}" alt="">
                    </div>
                </div>
                <div class="col l-7">
                    <div class="product-briefing-cart">
                        <h1 class="product-briefing-title">{{product.name}}</h1>
                        <div class="product-briefing-action">
                            <div class="product-briefing-action__rating">
                                <span>5.0</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-briefing-action__rate">
                                <span>4</span>
                                <span>Đánh giá</span>
                            </div>
                            <div class="product-briefing-action__sold">
                                <span>6</span>
                                <span>Đã bán</span>
                            </div>
                        </div>
                        <div class="product-briefing-price">
                            <span class="product-briefing-price__old">{{product.price_old}}</span>
                            <span class="product-briefing-price__new">{{product.price_new}}</span>
                            <div class="product-briefing-price__promotion">25% GIẢM</div>
                        </div>
                        <div class="">
                            <div class="product-briefing-transport">
                                <label for="">Vận chuyển</label>
                                <div class="product-briefing-transport__information">
                                    <div class="">
                                        <div class="">
                                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9d21899f3344277e34d40bfc08f60bc7.png"
                                                alt="">
                                            Miễn Phí Vận Chuyển
                                            <p>Miễn Phí Vận Chuyển khi đơn đạt giá trị tối thiểu</p>
                                        </div>
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <span>Vận Chuyển Tới</span>
                                                    <div class="">
                                                        <span>HCM</span>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <span>Phí Vận Chuyển</span>
                                                    <div class="">
                                                        <span>đ15</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-briefing-amount">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>