<footer class="footer">
    <div class="grid wide footer-content">
        <div class="row">
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <a href="" class="footer-item-link">Shopee Blog</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Shopee Mall</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Hướng Dẫn Bán Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Thanh Toán</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Shoee Xu</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Vận Chuyển</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Trả Hàng & Hoàn Tiền</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Chăm Sóc Bảo Hành</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">VỀ SHOPEE</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Giới Thiệu Về Shopee Việt Nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Tuyển Dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Điều Khoản Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Chính Hãng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Kênh Người Bán</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Flash Sales</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Liên Hệ Với Truyền Thông</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">THANH TOÁN</h3>
                <img src="/img/thanhtoan.PNG" alt="" class="footer__heading-img">
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">THEO DÕI SHOPEE TRÊN</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item__icon fab fa-facebook"></i>
                            Facebook</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item__icon fab fa-instagram"></i>
                            Instagram</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item__icon fab fa-linkedin"></i>
                            LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-8 c-12">
                <h3 class="footer__heading">VÀO CỬA HÀNG TRÊN ỨNG DỤNG</h3>
                <div class="footer__qr">
                    <a href="" class="footer__qr-link">
                        <img src="/img/QR_code.png" alt="QR code" class="footer__qr-img" />
                    </a>
                    <div class="footer__qr-appsdownload">
                        <a href="" class="footer__qr-link"><img src="/img/gg_play.png" alt="Google Play"
                                class="footer__qr-download-img" /></a>
                        <a href="" class="footer__qr-link"><img src="/img/app_store.png" alt="App Store"
                                class="footer__qr-download-img" /></a>
                    </div>
                </div>

                <!-- <a href="" class="footer-item-link">App Store</a>
                  <a href="" class="footer-item-link">Google</a> -->

            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="grid wide">
            <div class="footer__text">
                <p class="footer__footering">© 2020 Shopee. Tất cả các quyền được bảo lưu.</p>
                <p class="footer__footering footer__footering-mobile-none footer__footering-tablet">
                    Quốc gia & Khu vực:
                    <a href="" class="footer__text-link footer__text-link--phancach">Singapore</a>
                    <a href="" class="footer__text-link">Indonesia</a>
                    <a href="" class="footer__text-link">Đài Loan</a>
                    <a href="" class="footer__text-link">Thái Lan</a>
                    <a href="" class="footer__text-link">Malaysia</a>
                    <a href="" class="footer__text-link">Việt Nam</a>
                    <a href="" class="footer__text-link">Philippines</a>
                    <a href="" class="footer__text-link">Brazil</a>
                </p>
            </div>
        </div>
    </div>
</footer>