<header class="header">
    <div class="grid wide">
        <nav class="header__navbar hide-on-mobile-tablet">
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item--phancach">
                    <a href="" class="header__navbar-item-link">Kênh người bán</a>
                </li>
                <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--phancach">
                    <a href="" class="header__navbar-item-link">
                        Tải ứng dụng
                        <div class="header__qr">
                            <img src="/img/QR_code.png" alt="QR code" class="header__qr-img" />
                            <div class="header__qr-appsdownload">
                                <a href="" class="header__qr-link"><img src="/img/gg_play.png" alt="Google Play"
                                        class="header__qr-download-img" /></a>
                                <a href="" class="header__qr-link"><img src="/img/app_store.png" alt="App Store"
                                        class="header__qr-download-img" /></a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <span class="header__navbar-title--no-pointer no-hover">Kết nối</span>
                    <a href="" class="header__navbar-icon-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="header__navbar-icon-link">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
            </ul>
            <ul class="header__navbar-list model">
                <li class="header__navbar-item header__navbar-item-has-notify">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon far fa-bell"></i>
                        Thông báo
                    </a>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Thông Báo Mới Nhận</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item-viewed">
                                <a href="" class="header__notify-link">
                                    <img src="https://thuthuatnhanh.com/wp-content/uploads/2019/05/gai-xinh-toc-ngan-facebook.jpg"
                                        alt="" class="header__notify-img" />
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Xác thực nguồn gốc sản phẩm GG chính
                                            hãng</span>
                                        <span class="header__notify-mota">GG là giải pháp xác thực hàng chính hãng bằng
                                            công
                                            nghệ tiên tiến nhất hiện nay</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://thuthuatnhanh.com/wp-content/uploads/2019/05/gai-xinh-toc-ngan-facebook.jpg"
                                        alt="" class="header__notify-img" />
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Mẫu thông báo ra mắt sản phẩm mới là mẫu bản
                                            thông
                                            báo được lập ra để thông báo về việc ra mắt sản phẩm
                                            mới</span>
                                        <span class="header__notify-mota">Mô tả Mẫu thông báo ra mắt sản phẩm mới là mẫu
                                            bản
                                            thông báo được lập ra để thông báo về việc ra mắt
                                            sản phẩm mới</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://thuthuatnhanh.com/wp-content/uploads/2019/05/gai-xinh-toc-ngan-facebook.jpg"
                                        alt="" class="header__notify-img" />
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Áo nam chính hãng</span>
                                        <span class="header__notify-mota">Mô tả Áo nam chính hãng</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <footer class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">Xem tất cả </a>
                        </footer>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon far fa-question-circle"></i>
                        Trợ giúp
                    </a>
                </li>

                <li class="header__navbar-item  header__navbar-item--phancach header__navbar-item--bold">
                    <a href="#my-dialog-registration"
                        class="header__navbar-item-links header__navbar-item-links--registration">Đăng ký</a>

                </li>
                <li class="header__navbar-item  header__navbar-item--bold">
                    <a href="#my-dialog-login" class="header__navbar-item-links header__navbar-item-links--login">Đăng
                        nhập</a>
                </li>
                <!-- <li class="header__navbar-item header__navbar-user">
                <img
                  src="https://i.doanhnhansaigon.vn/2020/07/05/0-1593923660_750x0.jpg"
                  alt=""
                  class="header__navbar-user-img"
                />
                <span class="header__navbar-user-name">User name</span>

                <ul class="header__navbar-user-menu">
                  <li class="header__navbar-user-item">
                    <a href="">Tài khoản của tôi</a>
                    <a href="">Địa chỉ của tôi</a>
                    <a href="">Đơn mua</a>
                    <a href="">Đăng xuất</a>
                  </li>
                </ul>
              </li> -->
            </ul>
        </nav>
        <div class="header__search-wrapper">
            <label for="mobile-search-checkbox" class="header__mobile-search">
                <i class="header__mobile-search-icon fas fa-search"></i>
            </label>
            <div class="header__logo">
                <a href="" class="header__logo-link">
                    <img src="/img/logo.png" alt="" class="header__logo-img" />
                </a>
            </div>

            <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">
            <div class="header__input">
                <input type="text" class="header__input-search" placeholder="Tìm kiếm sản phẩm" />
                <div class="header__input-search-history">
                    <h3 class="header__header__input-search-history-heading">
                        Lịch sử tìm kiếm
                    </h3>
                    <ul class="header__input-search-history-list">
                        <li class="header__input-search-history-item">
                            <a href="">Con cu cườm real</a>
                        </li>
                        <li class="header__input-search-history-item">
                            <a href="">Con cu cườm fake</a>
                        </li>
                    </ul>
                </div>
                <button class="header__search">
                    <i class="header__search-icon fas fa-search"></i>
                </button>
            </div>
            <!-- <ul class="header__list hide-on-mobile-tablet">
                    <li>
                      <a href="" class="header__list-item-link">Quần Ống Rộng</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Áo nữ</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Ốp lưng Iphone</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Giày thể thao nữ</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Quần nữ</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Áo thun nam</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Áo khoác nữ</a>
                    </li>
                    <li>
                      <a href="" class="header__list-item-link">Tai nghe Bluetooth</a>
                    </li>
            </ul> -->


            <div class="header__cart">
                <div class="header__cart-wrap">
                    <a href="" class="header__cart-link">
                        <i class="header__cart-icon fas fa-shopping-cart"></i>
                    </a>
                    <!-- header__cart-notify--no-cart -->
                    <div class="header__cart-notify header__cart-notify--no-cart">
                        <img src="/img/icon-no-cart.png" alt="" class="header__cart-notify-img" />
                        <span class="header__cart-notify-item">Chưa Có Sản Phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="header__sort-bar">
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Liên quan</a>
        </li>
        <li class="header__sort-item header__sort-item--active">
            <a href="" class="header__sort-link">Mới nhất</a>
        </li>
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Bán chạy</a>
        </li>
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Giá</a>
        </li>
    </ul>
</header>