<div class="modal" id="my-dialog-login">
    <div class="modal__body">
        <form class="auth-form auth-form__login" id="form-2">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                    <span class="auth-form__new">Bạn mới biết đến Shopee?</span>
                    <span class="auth-form__switch-btn">
                        <a href="/auth/register" class="auth-form__link">Đăng ký</a>
                    </span>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input id="sdt" type="text" name="sdt" class="auth-form__input"
                            placeholder="Email/Số điện thoại/Tên đăng nhập" />
                        <span class="form-message"></span>
                    </div>
                    <div class="auth-form__group">
                        <input id="password" type="password" name="password" class="auth-form__input"
                            placeholder="Mật khẩu" />
                        <span class="form-message"></span>
                    </div>
                </div>
                <div class="auth-form__aside">
                    <div class="auth_form__help">
                        <a href="" class="auth_form__help-link auth_form__help-forgot">Quên mật khẩu</a>
                        <span class="auth_form__separate"></span>
                        <a href="" class="auth_form__help-link">Cần trợ giúp?</a>
                    </div>
                </div>

                <div class="auth-form__controls">
                    <div class="btn auth-form__controls-back">
                        <a href="/" class="auth-form__link">TRỞ LẠI</a>
                    </div>
                    <button class="btn btn--primary">ĐĂNG NHẬP</button>
                </div>
            </div>
            <div class="auth-form__socicals">
                <a href="" class="btn auth-form__socicals--facebook btn--size-s btn--with-icon">
                    <i class="auth-form__socicals-icon fab fa-facebook-square"></i>
                    <span class="auth-form__socicals-title">
                        Kết nối với Facebook
                    </span>
                </a>
                <a href="" class="btn auth-form__socicals--google btn--size-s btn--with-icon">
                    <i class="auth-form__socicals-icon fab fa-google"></i>
                    <span class="auth-form__socicals-title">
                        Kết nối với Google
                    </span>
                </a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var modalLogin = document.getElementById("my-dialog-login");

    window.onclick = function (event) {
        if (event.target == modalLogin) {
            modalLogin.style.display = "none";
            location.href = "/";
        }
    };
</script>